.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #112142;
  z-index: 1;
}

.login {
  justify-content: center;
  background-color: #003fbe;
  border: thick solid white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

Button {
  background-color: chocolate !important;
  width: 100px;
}

.link {
  color: rgb(255, 216, 188);
}

.list-group {
  border: thick solid white;
  width: 50%;
  min-height: 50vh;
  background-color: #003fbe !important;
  overflow: auto;
  border-radius: 20px !important;
}

.list-group-item {
  background-color: #3377ff !important;
  color: white !important;
  font-size: 24px;
  border: none !important;
  border-bottom: thin solid white !important;
}

.modal-content {
  background-color: #003fbe !important;
  font-size: 32px;
  border: thick solid white !important;
}

/* Game */
.game {
  background-color: rgb(24, 24, 54);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: thick solid white;
  border-radius: 10px;
}

.challengerSnake {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 220, 0);
  position: absolute;
  border-radius: 5px;
}

.challengedSnake {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  background-color: rgb(220, 0, 0);
  position: absolute;
  border-radius: 5px;
}

.food {
  /* border: 2px solid white; */
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
}
